apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: production
resources:
  - ../../base
images:
  - name: docker.io/agslima/app-stayheathy-backend
    digest: sha256:0a99302f729b15adbd7e4e53a262eeab35e4b487bfb9e0b2bcfbf66f6ff60326
  - name: docker.io/agslima/app-stayheathy-frontend
    digest: sha256:adc8d33f2764db79b74b863f620ad677da28b21eca9c669d79dcee3f4627bae0
