# Snyk CLI documentation: https://docs.snyk.io/developer-tools/snyk-cli

name: Snyk Weekly Snapshot
on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 1' # Every Monday at 8am

permissions:
  contents: read

jobs:
  snyk-snapshot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Install Snyk CLI
        uses: snyk/actions/setup@master

      - name: Snapshot Dependencies & Dockerfiles
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          snyk monitor --all-projects \
          --exclude=test,vendor \
          --target-reference="${{ github.ref_name }}" \
          --project-name-prefix="${{ github.repository }}/" \
          --remote-repo-url="${{ github.repository }}"

      - name: Snapshot Kubernetes (IaC)
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        continue-on-error: true 
        run: |
          snyk iac test --report \
          --target-reference="${{ github.ref_name }}" \
          --remote-repo-url="${{ github.repository }}" 
          
      - name: Check Snyk Code
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        continue-on-error: true
        run: |
          snyk code test --all-projects \
          --report \
          --project-name="${{ github.repository }}/" \
          --target-reference="${{ github.ref_name }}" \
          --remote-repo-url="${{ github.repository }}" 
          
          
